$def with (th_data,search_column)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <title>
        $if search_column:
        	$search_column["table_name_cn"]
        </title>     
    </head>
    <body>
 
$if search_column:
	 <div style="margin:25px;">
	  	   	<h4>$search_column["table_name_cn"]</h4>
	 </div>
 
	 <form  name="updateForm" action="/edit" method="POST"> 
			<div style="border:1px solid #cccccc;width:100%;background:#fff;" > 
				   <ul  style="margin-top:30px;background:#FCFCFC;border: 1px; list-style:none;">  
					$if th_data:
					   $for line in th_data:
						    <li>
						        $line["column_cn"] :  
						        	$if line["type"] in ["varchar","int","date"]:
						        		<input  type="$line["type"]"  name='$line["column"]'  value='$line["value"]'  size='$line["size"]'  />
						            $if line["type"]=="textarea": 
								        <textarea rows='$line["rows"]' cols='$line["cols"]' name='$line["column"]' >$line["value"]</textarea> 
						    </li> 
						    
				     <li>
				      	 <input type="hidden" name="action" value="$search_column["action"]" />
				      	 <input type="hidden" name="table_name" value="$search_column["table_name"]" />
				         <input type="submit" value="提 交" />
				     </li>
				   </ul>
			</div> 
		</form>
</html>
